<!DOCTYPE html>
<html lang="<%= this.lang %>">
<head>
    <title><%=this.app %></title>
    <%- include('template/head.html') %>
</head>
<body>
<footer class="bar bar-tab">
    <a class="tab-item active" href="#">
        <i class="icon">111</i>
        <span class="tab-label">标题1</span>
    </a>
    <a class="tab-item" href="#">
        <i class="icon">222</i>
        <span class="tab-label">标题2</span>
    </a>
    <a class="tab-item" href="#">
        <i class="icon"></i>
        <span class="tab-label">标题1</span>
    </a>
    <a class="tab-item" href="#">
        <i class="icon"></i>
        <span class="tab-label">标题1</span>
    </a>
</footer>
<div class="content">

</div>
<!--script-->
<!--script end-->
</body>
</html>
